.input-with-image {
  position: relative;
  display: inline-flex; /* 라벨 안의 요소들을 가로로 정렬 */
  align-items: center; /* 요소들을 세로 중앙 정렬 */
}

.input-with-image img {
  width: 20px; /* 이미지 너비 설정 */
  height: auto; /* 이미지 높이 자동 설정 */
  margin-right: 8px; /* 이미지와 입력 필드 사이 간격 설정 */
  
}

.input-with-image input {
  padding: 8px; /* 입력 필드 패딩 설정 */
  border: 1px solid #ccc; /* 선택적으로 테두리 추가 */
  border-radius: 4px; /* 선택적으로 테두리 둥글게 처리 */
}

