.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.pagination {
  display: flex; justify-content: center;
  margin-top: 15px;
 }
 ul {
  list-style: none; padding: 0;
 }
 ul.pagination li {
  display: inline-block;
  width: 30px; height: 30px;
  border: 1px solid #e2e2e2; 
  display: flex;
  justify-content: center; align-items: center;
  font-size: 1rem;
  border-radius: 50%;
  margin-left: 5px;
 }
 ul.pagination li:first-child{
  border-left: 1px solid #e2e2e2; border-radius: 50%;
 }
 ul.pagination li:last-child{
  border-radius: 50%;
 }
 ul.pagination li a {
  text-decoration: none; color: #337ab7; font-size: 0.7rem;
 }
 ul.pagination li.active a {
  color: white;
 }
 ul.pagination li.active {
  background-color: #337ab7;
 }
 ul.pagination li a:hover, ul.pagination li a.active {
  color: blue;
 }
 .page-selection {
  width: 48px; height: 30px; color: #337ab7;
 }

 /*피망몰 
 
 리스트페이지에 카드위에 불투명하게올린거*/
 .mall_card_parent{
  display: grid;
 }
 .mall_card_child{
  width: 100%;
  height: 100%;
 }
 /*피망몰 리드페이지 */
 .mall_read_flexbox{
  display: flex;
  flex-direction: row;
  background-color: #61dafb;
 }
 .mall_read_item{
  text-align: center;
 }
 .sellerList .slick-dots {
  display: none !important;
}