.qa-list-container {
  max-width: 1500px;
  margin: 0 auto;
}

.qa-list-container h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.qa-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #E6F4EA; /* 검색 바 배경색 */
  border-radius: 25px;
}

.qa-search-input-group {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px; /* 최대 너비를 설정하여 중앙 정렬 */
}

.qa-search-input-group select,
.qa-search-input-group input {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  padding: 15px;
  flex: 1; /* 입력 필드와 선택 필드의 너비를 동일하게 맞춤 */
  font-size: 16px;
  color: #333;
}

.qa-search-button {
  background: none;
  border: none;
  color: #2f855a;
  font-size: 24px; /* 아이콘 크기 조정 */
  cursor: pointer;
}

.qa-search-button i {
  font-size: 24px; /* 아이콘 크기 조정 */
}

.qa-write-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.write-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
}

.write-button:hover {
  background-color: #218838;
}

.qa-search-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.search-count {
  margin-right: auto;
  text-align: left;
}

.qa-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.qa-table th,
.qa-table td {
  padding: 8px;
  text-align: center;
}

.qa-table th {
  background-color: #f2f2f2;
}

.qa-table tr {
  border-bottom: 1px solid #ddd;
}

.qa-table .link-no-style {
  color: inherit; /* 링크 기본 색상을 제거 */
  text-decoration: none; /* 밑줄 제거 */
}

.qa-table .link-no-style:hover {
  text-decoration: underline; /* 호버 시 밑줄 추가 */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.me-3 {
  margin-right: 1rem;
}
