<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DiaryMapper">
	<insert id="insert">
		insert into diary(diary_writer, diary_contents, diary_title, diary_state)
		values (#{diary_writer}, #{diary_contents}, #{diary_title}, #{diary_state})
	</insert>
	<select id="read" resultType="hashmap">
		select user_nickname, diary.* from diary, user where diary_writer=user_uid and diary_key=#{diary_key}
	</select>
	<update id="update">
		update diary set diary_contents=#{diary_contents}, diary_title=#{diary_title}, diary_state=#{diary_state}
		where diary_key=#{diary_key}
	</update>
</mapper>