<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.FAQMapper">
    <insert id="insert">
        INSERT INTO FAQ (faq_writer, faq_question, faq_answer,faq_category)
        VALUES (#{faq_writer}, #{faq_question}, #{faq_answer},#{faq_category})
    </insert>
   <update id="update">
		update FAQ
		set faq_question=#{faq_question}, faq_answer= #{faq_answer},faq_category=#{faq_category}
		where faq_key=#{faq_key}
	</update>
   <delete id="delete">
		delete from FAQ where faq_key=#{faq_key}
	</delete>
    <select id="read" resultType="com.example.domain.FAQVO">
        SELECT * FROM FAQ WHERE faq_key = #{faq_key}
    </select>
 <select id="list" resultType="hashmap">
    select *
    from FAQ
    <if test="key == 'faq_writer'">where faq_writer like #{word}</if>
    <if test="key == 'faq_question'">where faq_question like #{word}</if>
    <if test="key == 'faq_answer'">where faq_answer like #{word}</if>
    <if test="key == 'faq_category'">where faq_category like #{word}</if>
    order by faq_key desc
    limit #{start}, #{size}
</select>

<select id="total" resultType="int">
    select count(*)
    from FAQ
    <if test="key == 'faq_writer'">where faq_writer like #{word}</if>
    <if test="key == 'faq_question'">where faq_question like #{word}</if>
    <if test="key == 'faq_answer'">where faq_answer like #{word}</if>
    <if test="key == 'faq_category'">where faq_category like #{word}</if>
    </select>
    <update id="updateViewcnt">
		update FAQ
		set faq_vcnt=faq_vcnt+1
		where faq_key=#{faq_key}
	</update>
</mapper>
