<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GraphMapper">
	<select id="diaryCount" resultType="hashmap">
		SELECT COUNT(diary_key) AS diary_count, diary_state, DATE_FORMAT(diary_regDate, '%Y-%m') AS diary_regMonth
		FROM diary WHERE diary_regDate BETWEEN DATE_ADD(NOW(), INTERVAL -4 MONTH) AND NOW()
		GROUP BY diary_state, DATE_FORMAT(diary_regDate, '%Y-%m') ORDER BY diary_regMonth ASC;
	</select>
	
	<select id="rank" resultType="hashmap">
	<![CDATA[
    WITH ranked_data AS (
      SELECT 
        user.user_nickname,
        user.user_img,
        user.user_auth,
        seed.seed_uid,
        seed.seed_number,
        seed.seed_point,
        rank() OVER (ORDER BY seed.seed_point DESC) AS ranked
      FROM user
      LEFT JOIN seed ON user.user_uid = seed.seed_uid
      WHERE (user.user_auth = '일반회원' OR user.user_auth = '우수회원')
    )
    SELECT *
    FROM ranked_data
    WHERE ranked <= 5
    ORDER BY ranked;
    ]]>
	
	</select>
	
	<select id="mallChart" resultType="hashmap">
		WITH recent_dates AS (
		    SELECT CURDATE() AS date
		    UNION ALL SELECT CURDATE() - INTERVAL 1 DAY
		    UNION ALL SELECT CURDATE() - INTERVAL 2 DAY
		    UNION ALL SELECT CURDATE() - INTERVAL 3 DAY
		    UNION ALL SELECT CURDATE() - INTERVAL 4 DAY
		    UNION ALL SELECT CURDATE() - INTERVAL 5 DAY
		    UNION ALL SELECT CURDATE() - INTERVAL 6 DAY
		),
		mall_counts AS (
		    SELECT DATE(mall_regDate) AS date, COUNT(*) AS mall_count
		    FROM mall
		    WHERE mall_regDate >= CURDATE() - INTERVAL 6 DAY
		    GROUP BY DATE(mall_regDate)
		),
		auction_counts AS (
		    SELECT DATE(auction_regDate) AS date, COUNT(*) AS auction_count
		    FROM auction
		    WHERE auction_regDate >= CURDATE() - INTERVAL 6 DAY
		    GROUP BY DATE(auction_regDate)
		),
		review_counts AS (
		    SELECT DATE(review_regDate) AS date, COUNT(*) AS review_count
		    FROM review
		    WHERE review_regDate >= CURDATE() - INTERVAL 6 DAY
		    GROUP BY DATE(review_regDate)
		)
		SELECT 
		    d.date,
		    IFNULL(m.mall_count, 0) AS mall_key_count,
		    IFNULL(a.auction_count, 0) AS auction_key_count,
		    IFNULL(r.review_count, 0) AS review_key_count
		FROM recent_dates d
		LEFT JOIN mall_counts m ON d.date = m.date
		LEFT JOIN auction_counts a ON d.date = a.date
		LEFT JOIN review_counts r ON d.date = r.date
		ORDER BY d.date;
	</select>

</mapper>