<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MallMapper">
	<select id="list" resultType="hashmap">
		select *
		from mall
		 <where>
        <if test="key == 'mall_seller'">
           mall_seller like concat('%', #{word}, '%')
        </if>
        <if test="key == 'mall_title'">
            mall_title like concat('%', #{word}, '%')
        </if>
        <if test="key == 'mall_info'">
           mall_info like concat('%', #{word}, '%')
        </if>
    </where>
    	<if test="orderBy == 'desc'">
        order by mall_regDate desc
	    </if>
	    <if test="orderBy == 'asc'">
	        order by mall_regDate asc
	    </if>
		limit #{start}, #{size}
	</select>
	
	<select id="read" resultType="hashmap">
		select m.* ,user_nickname, user_address1, user_address2 , user_uname 
		from mall m ,user u
		where mall_key=#{mall_key} and mall_seller = user_uid
	</select>
	
	<insert id="insertInfo">
      insert into mall(mall_seller, mall_title, mall_info, mall_price, mall_photo, mall_tstate, mall_pstate, mall_endDate)
      values(#{mall_seller}, #{mall_title}, #{mall_info}, #{mall_price}, #{mall_photo}, #{mall_tstate}, #{mall_pstate}, #{mall_endDate})
   </insert>
   
	
	<insert id="insertPhoto">
		insert into mallPhoto (mallPhoto_mall_key, mallPhoto_photo, mallPhoto_sequence) 
		values (#{mallPhoto_mall_key},#{mallPhoto_photo}, #{mallPhoto_sequence})
	</insert>
	
	<update id="updatePhoto">
		update mallPhoto set mallPhoto_sequence=#{mallPhoto_sequence} where mallPhoto_key=#{mallPhoto_key}
	</update>
	
	<select id="total" resultType="int">
		select count(*) as total
		from mall
		 <where>
        <if test="key == 'mall_seller'">
            mall_seller like concat('%', #{word}, '%')
        </if>
        <if test="key == 'mall_title'">
            mall_title like concat('%', #{word}, '%')
        </if>
        <if test="key == 'mall_info'">
            mall_info like concat('%', #{word}, '%')
        </if>
    </where>
	</select>
	
	<update id="update">
		update mall
		set mall_title=#{mall_title},mall_info=#{mall_info},mall_tstate=#{mall_tstate},mall_pstate=#{mall_pstate},mall_price=#{mall_price},mall_endDate=#{mall_endDate},mall_uDate=now()
		where mall_key=#{mall_key}
	</update>
	
	<delete id="delete">
		delete from mall
		where mall_key=#{mall_key}
	</delete>
	
	<delete id="deleteAttach">
		delete from mallPhoto where mallPhoto_key= #{mallPhto_key}
	</delete>
	
	<select id="getLastInsertId" resultType="int">
		select distinct(last_insert_id()) as last from mall
	</select>
	
	<select id="listMallPhoto" resultType="hashmap">
	 	select * from mallPhoto where mallPhoto_mall_key= #{mallPhto_key} order by mallphoto_sequence;
	 </select>
	 
	 <update id="insertMainPhoto">
	 	update mall set mall_photo=#{mall_photo} where mall_key=#{mall_key}
	 </update>
	 
	 <select id="getMainPhoto" resultType="String">
		select mall_photo from mall where mall_key=#{mall_key};
	 </select>

 	<update id="updateMainPhoto">
	 	update mall set mall_photo=#{mallPhoto_photo} where mall_key=#{mallPhoto_mall_key}
	 </update>
</mapper>