<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ReplyMapper">

		<select id="replyList" resultType="hashmap">
				select * 
				from reply
				where reply_bbs_key=#{reply_bbs_key}
				order by ${key}
				limit #{start}, #{size};
		</select>
		
		<insert id="insert">
				insert into reply ( reply_bbs_key, reply_writer, reply_contents, reply_lock, reply_reaction)
				value ( #{reply_bbs_key}, #{reply_writer}, #{reply_contents}, #{reply_lock}, #{reply_reaction})
		</insert>
		
		<update id="update">
				update reply set reply_contents=#{reply_contents}
				where reply_key=#{reply_key}
		</update>
		
		<update id="updateLock">
				update reply set reply_lock=#{reply_lock} where reply_key=#{reply_key}
		</update>
		
		<delete id="delete">
				delete from reply where reply_key=#{reply_key};
		</delete>
		
		<select id="total" resultType="int">
				select count(*) as total from reply where reply_bbs_key=#{reply_bbs_key} ;
		</select>
</mapper>