<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ReportMapper">
	<insert id="insert" >
		insert into report (report_from, report_to, report_contents, report_origin, report_root) value (#{report_from},#{report_to},#{report_contents},#{report_origin},#{report_root});
	</insert>
    
    <select id="list" resultType="hashmap">
    	select * from report 
    	<where>
      	<if test="key == 'report_from'">
           report_from like concat('%', #{word}, '%')
        </if>
        <if test="key == 'report_contents'">
            report_contents like concat('%', #{word}, '%')
        </if>
        <if test="key == 'report_to'">
           report_to like concat('%', #{word}, '%')
        </if>
        <if test="key == 'report_root'">
           report_root like concat('%', #{word}, '%')
        </if>
        <if test="key == 'report_origin'">
           report_origin like concat('%', #{word}, '%')
        </if>
    	</where>
    	order by report_regDate desc
    	limit #{start}, #{size}
    </select>
    
    <select id="count" resultType="int">
   		select count(*) from report where report_state=0;
    </select>
</mapper>