<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
	<update id="updatePass">
		update user set user_upass=#{user_upass} where user_uid=#{user_uid}
	</update>

	<select id="findpass" resultType="com.example.domain.UserVO">
		select * from user where user_uname=#{user_uname} and user_phone=#{user_phone} and user_email=#{user_email} and user_uid=#{user_uid}
	</select>

	<select id="findid" resultType="com.example.domain.UserVO">
		select * from user where user_uname=#{user_uname} and user_phone=#{user_phone} and user_email=#{user_email}
	</select>

	<delete id="delete">
		delete from user where user_key=#{user_key};
	</delete>

	<select id="adminList" resultType="hashmap">
		select * from user
		<if test="key=='user_uid'"> where user_uid like concat('%', #{word}, '%')</if>
		<if test="key=='user_uname'">where user_uname like concat('%', #{word}, '%')</if>
		<if test="key=='user_nickname'">where user_nickname like concat('%', #{word}, '%')</if>
		<if test="key=='user_birth'">where user_birth like concat('%', #{word}, '%')</if>
		order by user_regDate desc
		limit #{start}, #{size} ;
	</select>
	
	<select id="adminListTotal" resultType="int">
		select count(*) from user;
	</select>
	
	<insert id="insert" >
		insert into user( user_uid, user_upass, user_uname, user_nickname, user_email, user_phone, user_gender, user_birth, user_address1, user_address2 )
		value (#{user_uid},#{user_upass},#{user_uname},#{user_nickname},#{user_email},#{user_phone},#{user_gender},#{user_birth},#{user_address1},#{user_address2})
	</insert>
	
	<select id="read" resultType="com.example.domain.UserVO">
		select * from user where user_uid=#{uid}
	</select>
	
	<update id="adminUpdate">
		update user set user_nickname=#{user_nickname}, user_birth=#{user_birth}, user_gender=#{user_gender}, user_phone=#{user_phone}, user_email=#{user_email},
		user_address1=#{user_address1}, user_address2=#{user_address2}, user_auth=#{user_auth} where user_uid=#{user_uid}
	</update>
	<update id="personUpdate">
		update user set user_uname=#{user_uname}, user_phone=#{user_phone}, user_address1=#{user_address1}, user_address2=#{user_address2}, user_birth=#{user_birth},
		user_nickname=#{user_nickname}, user_email=#{user_email}, user_ment=#{user_ment} where user_uid=#{user_uid}
	</update>
	<update id="imgUpdate">
		update user set user_img=#{user_img} where user_uid=#{user_uid}
	</update>
	
	<select id="mypage1" resultType="hashmap">
		select seed_point, count(auction_key) auction, user_nickname, user_img, user_ment
		from seed, auction, user where user_uid=seed_uid and user_uid=#{user_uid}
	</select>
	<select id="mypage2" resultType="hashmap">
		select * from diary where diary_writer=#{diary_writer}
	</select>
	
	<select id="mypage3" resultType="hashmap">
		select count(follow_from) as ftotal , count(follow_to) as ttotal from follow where follow_from = #{follow_from}
	</select>
	
	<select id="mypage4" resultType="int">
		select count(auction_key) from auction where auction_seller=#{auction_seller} or auction_buyer=#{auction_buyer}
	</select>
	
</mapper>